<section class="ticket_box">
<aside class="ticket_box__main_info">
 <div class="ticket_box__date">
    <div class="ticket_box__details">
        <h4>ორშაბათი,</h4>
        <h4>1 იანვ</h4>
        <h4>თბილისი</h4>
        <img src="/assets/icons/arrows.png" alt="">
        <h4>პარიზი</h4>
    </div>
    <div class="ticket_box__more_details">
        <p class="ticket_box__text">გამგზავრება</p>
        <img class="ticket_box__img" src="/assets/icons/108167002_10158474092829500_1275465464865886563_o 1.png" alt="">
        <div class="ticket_box__quantity">+2</div>
    </div>
    <div class="ticket_box__all_info">
        <div class="ticket_box__time">
            <h4>14:00</h4>
          
             <div class="ticket_box__diagram">
                <div class="ticket_box__airplane_img">
                    <img src="/assets/icons/Vector.png" alt="">
                 </div>
                <div class="ticket_box__circle"></div>
                <div class="ticket_box__line"></div>
                <div class="ticket_box__circle"></div>
                <div class="ticket_box__line"></div>
                <div class="ticket_box__circle"></div>
             </div>
            <h4>09:10</h4>
        </div>
        <div class="ticket_box__full_details">
            <p>თბილისი (TBS)</p>
            <p>1 გაჩერება</p>
            <p>ჯამში: 3 სთ,20</p>
            <p> <span>პარიზი (CDG)</span> </p>
            
        </div>
    </div>
    <div class="ticket_box__flight_time">
        <a class="ticket_box__button" href="#">
            <img class="ticket_box__clock_img" src="/assets/icons/time.png" alt="">
            8 საათი, 20 წუთი
        </a>
    </div>
   

 </div>




 <div class="ticket_box__date">
    <div class="ticket_box__details">
        <h4>შაბათი,</h4>
        <h4>29 აპრ</h4>
    </div>
    <div class="ticket_box__more_details">
        <p class="ticket_box__text">გამგზავრება</p>
        <img class="ticket_box__img" src="/assets/icons/108167002_10158474092829500_1275465464865886563_o 1.png" alt="">
        <div class="ticket_box__quantity">+2</div>
    </div>
    <div class="ticket_box__all_info">
        <div class="ticket_box__time">
            <h4>14:00</h4>
          
             <div class="ticket_box__diagram">
                <div class="ticket_box__airplane_img">
                    <img src="/assets/icons/Vector.png" alt="">
                 </div>
                <div class="ticket_box__circle"></div>
                <div class="ticket_box__line"></div>
                <div class="ticket_box__circle"></div>
                <div class="ticket_box__line ticket_box__line--active"></div>
                <div class="ticket_box__circle"></div>
                <div class="ticket_box__line ticket_box__line--active2"></div>
                <div class="ticket_box__circle"></div>
             </div>
            <h4>09:10</h4>
        </div>
        <div class="ticket_box__full_details">
            <p>ნიუ იორკი (NY)</p>
            <p>2 გაჩერება</p>
            <p>ჯამში: 3 სთ,20</p>
            <p>პარიზი (CDG)</p>
            
        </div>
    </div>
    <div class="ticket_box__flight_time">
        <a class="ticket_box__button" href="#">
            <img class="ticket_box__clock_img" src="/assets/icons/time.png" alt="">
            8 საათი, 20 წუთი
        </a>
    </div>
 </div>

 <div class="ticket_box__package">
    <button>ეკონომ კლასი</button>
    <button>2 მგზავრი</button>
    <button>20 კგ ბარგი</button>
 </div>
 <div class="ticket_box__circles">
        <div class="ticket_box__circle_top"></div>
        <div class="ticket_box__circle_bottom"></div>
  </div>
</aside>
<aside class="ticket_box__payment">
    <div class="ticket_box__payment_details">
        <h1>640₾</h1>
        <p>განვადება თვეში 72.33₾-დან</p>
        <button> <span>დაჯავშნა</span> </button>
    </div>
    <div class="ticket_box__see_details">
        <button> <span>დეტალურად ნახვა</span> </button>
    </div>
 
</aside>



</section>
