button{
    cursor: pointer;
    font-family: "Noto Sans Georgian", sans-serif;
}
.ticket_box{
    position: relative;
    display: flex;
    width: 785px;
    height: 545px;
    background-color: #fff;
    border-radius: 8px;
    margin: 150px 0px;
    box-shadow: 0px 4px 32px 0px #00000029;
    
    &__main_info{
        width: 531px;
    }

    &__date{
        position: relative;
        top: 32px;
        left: 29px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__details{
        display: flex;
        gap: 7px;
    }
    &__more_details{
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 12px;
   
    }
    &__text{
        color: #8E96A5;
       }
    &__img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    &__quantity{
        width: 32px;
        height: 24px;
        border-radius: 40px;
        font-size: 14px;
        background-color: #F4F6F8;
        padding: 4px 7px;
      
}

  &__all_info{
    margin-top: 20px;
  }


  &__time{
    display: flex;
    align-items: baseline;
    gap: 80px;
  }
  &__airplane_img{
    position: relative;
    left: 10px;
    img{
        width: 26px;
        height: 20px;
    }
  }
  &__diagram{
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  &__circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #1A73E7;
  
  }
  &__line{
    width: 58px;
    height: 3px;
    background-color: #C2DAF9;
    position: relative;
    bottom: 2px;
    &--active{
        width: 18px;
    }
    &--active2{
        width: 25px;
    }
  }

  &__full_details{
    display: flex;
    color: #8E96A5;
    font-size: 12px;
    gap: 32px;
    margin-top: 5px;
    & p:nth-child(2){
      position: relative;
      left: 29px;
    }
    & p:nth-child(3){
        position: relative;
        left: 50px;
      }
    & p:nth-child(4){
        position: relative;
        left: 47px;
    }
  }


  &__flight_time{
    margin-top: 18px;
  }

  &__button{
    text-decoration: none;
    border: 1px solid #C8D2DC;
    border-radius: 35px;
    padding: 4px 12px;
    font-size: 13px;
    color: #3C3F49;
  }

  &__clock_img{
    width: 17.5px;
    height: 15px;
    position: relative;
    top: 3px;
    right: 7px;
  }

  &__date:nth-child(2){
    margin-top: 50px;
  }
  &__package{
   display: flex;
   margin-top: 85px;
   margin-left: 29px;
   gap: 8px;
    button{
    padding: 5px 10px;
    border-radius: 34px;
    border: 1px solid #C8D2DC;
    color: #616C81;
    background-color: transparent;
    font-size: 13px;
   }
  }

  &__payment{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px dashed #C7C7C7;
    width: 248px;
  }
  &__payment_details{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 28px;
        line-height: 40px;
    }
    p{
        color: #1A73E7;
        font-size: 12px;
        margin-top: 6px;
        
    }
    button{
        margin-top: 35px;
        background-color: #1A73E7;
        padding: 13px 54px;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
    }
  }
  &__see_details{
    position: relative;
    bottom: 7px;
    button{
        padding: 6px 27.5px;
        border-radius: 4px;
        border: 1px solid #C8D2DC;
        color: #616C81;
        background-color: transparent;
        font-size: 13px;
    }
  }

&__circle_bottom, &__circle_top{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #EAECEE;
    right: 245px;
  }
  &__circle_top{
    bottom: 537px;
  }
  &__circle_bottom{
    top: 537px;
  }

}



@media screen and (max-width:768px) {
    .ticket_box{
        flex-direction: column;
        max-width: 330px;
        max-height: 330px;
        box-shadow: none;
        &__date:nth-child(2){
            display: none;
        }
        &__main_info, &__package{
            height: 50%;
            max-width: 330px;
        }
        &__full_details{
            p:nth-child(1),& p:nth-child(3){
              display: none;
            }
        }
        &__flight_time, &__package, &__more_details{
            display: none;
        }
        &__time{
            gap: 0;
        }
        &__payment{
            width: 100%;
            border-left: none;
            border-top: 1px dashed #C7C7C7;
            height: 50%;
            padding-bottom: 30px;
        }
        &__payment_details{
            flex-direction: column-reverse;
            gap: 10px;
            h1{
             display: none;
            }
            span{
               display: none;
            }
            button{
               width: 300px;
            }
            button::after{
                content: "640₾";
                
            }
        }

        &__see_details{
            bottom: 0;
            top: 12px;
            button{
                font-size: 14px;
                border: none;
                color: #1A73E7;
                span{
                    display: none;
                }
                &::after{
                    content: "ვრცლად";
                }
            }
          
        }
        &__circles{
            div{
                background-color: #D9D9D9;
            }
            
        }
        &__circle_bottom{
            top: 48%;
            left: 98%;
        }
        &__circle_top{
            top: 48%;
            right: 98%;
        }
    }
    
}