@charset "UTF-8";
button {
  cursor: pointer;
  font-family: "Noto Sans Georgian", sans-serif;
}

.ticket_box {
  position: relative;
  display: flex;
  width: 785px;
  height: 545px;
  background-color: #fff;
  border-radius: 8px;
  margin: 150px 0px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1607843137);
}
.ticket_box__main_info {
  width: 531px;
}
.ticket_box__date {
  position: relative;
  top: 32px;
  left: 29px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ticket_box__details {
  display: flex;
  gap: 7px;
}
.ticket_box__details img {
  display: none;
}
.ticket_box__details h4:nth-child(3), .ticket_box__details h4:nth-child(5) {
  display: none;
}
.ticket_box__more_details {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}
.ticket_box__text {
  color: #8E96A5;
}
.ticket_box__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.ticket_box__quantity {
  width: 32px;
  height: 24px;
  border-radius: 40px;
  font-size: 14px;
  background-color: #F4F6F8;
  padding: 4px 7px;
}
.ticket_box__all_info {
  margin-top: 20px;
}
.ticket_box__time {
  display: flex;
  align-items: baseline;
  gap: 80px;
}
.ticket_box__airplane_img {
  position: relative;
  left: 10px;
}
.ticket_box__airplane_img img {
  width: 26px;
  height: 20px;
}
.ticket_box__diagram {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.ticket_box__circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #1A73E7;
}
.ticket_box__line {
  width: 58px;
  height: 3px;
  background-color: #C2DAF9;
  position: relative;
  bottom: 2px;
}
.ticket_box__line--active {
  width: 18px;
}
.ticket_box__line--active2 {
  width: 25px;
}
.ticket_box__full_details {
  display: flex;
  color: #8E96A5;
  font-size: 12px;
  gap: 32px;
  margin-top: 5px;
}
.ticket_box__full_details p:nth-child(2) {
  position: relative;
  left: 29px;
}
.ticket_box__full_details p:nth-child(3) {
  position: relative;
  left: 50px;
}
.ticket_box__full_details p:nth-child(4) {
  position: relative;
  left: 47px;
}
.ticket_box__flight_time {
  margin-top: 18px;
}
.ticket_box__button {
  text-decoration: none;
  border: 1px solid #C8D2DC;
  border-radius: 35px;
  padding: 4px 12px;
  font-size: 13px;
  color: #3C3F49;
}
.ticket_box__clock_img {
  width: 17.5px;
  height: 15px;
  position: relative;
  top: 3px;
  right: 7px;
}
.ticket_box__date:nth-child(2) {
  margin-top: 50px;
}
.ticket_box__package {
  display: flex;
  margin-top: 85px;
  margin-left: 29px;
  gap: 8px;
}
.ticket_box__package button {
  padding: 5px 10px;
  border-radius: 34px;
  border: 1px solid #C8D2DC;
  color: #616C81;
  background-color: transparent;
  font-size: 13px;
}
.ticket_box__payment {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px dashed #C7C7C7;
  width: 248px;
}
.ticket_box__payment_details {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
}
.ticket_box__payment_details h1 {
  font-size: 28px;
  line-height: 40px;
}
.ticket_box__payment_details p {
  color: #1A73E7;
  font-size: 12px;
  margin-top: 6px;
}
.ticket_box__payment_details button {
  margin-top: 35px;
  background-color: #1A73E7;
  padding: 13px 54px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
}
.ticket_box__see_details {
  position: relative;
  bottom: 7px;
}
.ticket_box__see_details button {
  padding: 6px 27.5px;
  border-radius: 4px;
  border: 1px solid #C8D2DC;
  color: #616C81;
  background-color: transparent;
  font-size: 13px;
}
.ticket_box__circle_bottom, .ticket_box__circle_top {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #EAECEE;
  right: 245px;
}
.ticket_box__circle_top {
  bottom: 537px;
}
.ticket_box__circle_bottom {
  top: 537px;
}

@media screen and (max-width: 768px) {
  .ticket_box {
    flex-direction: column;
    max-width: 330px;
    max-height: 330px;
    box-shadow: none;
  }
  .ticket_box__details {
    align-items: center;
    margin-left: 10px;
    gap: 15px;
  }
  .ticket_box__details img {
    display: block;
    width: 18px;
    height: 14px;
  }
  .ticket_box__details h4:nth-child(3), .ticket_box__details h4:nth-child(5) {
    display: block;
    font-size: 18px;
    color: #3C3F49;
  }
  .ticket_box__details h4:nth-child(1), .ticket_box__details h4:nth-child(2) {
    display: none;
  }
  .ticket_box__line {
    height: 2px;
  }
  .ticket_box__circle:nth-child(4) {
    position: relative;
    top: 5px;
    margin: 0 2px 0 12px;
    width: 5px;
    height: 5px;
  }
  .ticket_box__airplane_img {
    left: 100px;
    top: 6px;
  }
  .ticket_box__airplane_img img {
    width: 22px;
    height: 17px;
  }
  .ticket_box__date {
    left: 0;
  }
  .ticket_box__date:nth-child(2) {
    display: none;
  }
  .ticket_box__main_info, .ticket_box__package {
    height: 50%;
    max-width: 330px;
  }
  .ticket_box__full_details {
    justify-content: space-between;
    width: 312px;
    margin: 5px auto;
  }
  .ticket_box__full_details p:nth-child(1), .ticket_box__full_details p:nth-child(3) {
    display: none;
  }
  .ticket_box__full_details p:nth-child(4), .ticket_box__full_details p:nth-child(2) {
    left: 0;
    font-size: 13px;
    color: #B2C0CE;
  }
  .ticket_box__full_details p span {
    display: none;
  }
  .ticket_box__full_details p:nth-child(4)::after {
    content: "ფრენა: 5სთ 20";
  }
  .ticket_box__flight_time, .ticket_box__package, .ticket_box__more_details {
    display: none;
  }
  .ticket_box__time {
    justify-content: space-evenly;
    gap: 0;
  }
  .ticket_box__time h4 {
    font-size: 20px;
    color: #616C81;
  }
  .ticket_box__payment {
    width: 100%;
    border-left: none;
    border-top: 1px dashed #C7C7C7;
    height: 50%;
    padding-bottom: 30px;
  }
  .ticket_box__payment_details {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .ticket_box__payment_details h1 {
    display: none;
  }
  .ticket_box__payment_details span {
    display: none;
  }
  .ticket_box__payment_details button {
    width: 300px;
  }
  .ticket_box__payment_details button::after {
    content: "640₾";
  }
  .ticket_box__see_details {
    bottom: 0;
    top: 12px;
  }
  .ticket_box__see_details button {
    font-size: 14px;
    border: none;
    color: #1A73E7;
  }
  .ticket_box__see_details button span {
    display: none;
  }
  .ticket_box__see_details button::after {
    content: "ვრცლად";
  }
  .ticket_box__circles div {
    background-color: #D9D9D9;
  }
  .ticket_box__circle_bottom {
    top: 48%;
    left: 98%;
  }
  .ticket_box__circle_top {
    top: 48%;
    right: 98%;
  }
}